div.bluebox {
  background-color: steelblue;
    color: white;
    padding: 20px;
}

div.circlebox {
  background-color: darkgreen;
    color: white;
    padding: 20px;
    border-radius: 50%;
    width: 25%;
}

.opps-un-used-style {
  background-color: blueviolet;
}
